@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --vermelhoo:#B20D07;
    --roxozulado:#411AB0;
    --roxorosado:#9A21A3;
    --roxoescuro:#5E1463;
    --amarelado:#A3A109;
    --amareloqueimado:#BA5802;

    --fontetitulo:'Bruno Ace', cursive;
    --fontetexto:'Bebas Neue', cursive;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    background-color: #5E1463;
}
header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color:#b20d07af;
    border-radius: 0px 0px 15px 15px;
}
header>img{
    border-radius: 50%;
    border: 1px solid wheat;
    height: 50px;
}
header>nav{
    font-family: var(--fontetexto);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}
header>nav>a{
    font-size: 0.8em;
    color: wheat;
    padding: 3px;
}
main{
    padding: 20px;
    background-image: linear-gradient(65deg,#b20d07ae,#5e1463ba);
    width:80%;
    margin: auto;
    color: wheat;
    box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.575);
    border-radius: 30px;
    margin-bottom: 20px;
}
main>section{
    margin-bottom: 20px;
}
main>section>h1{
    font-family: var(--fontetitulo);
    font-size: 1.5em;
    margin-bottom: 10px;
}

main>section>h3{
    font-family: var(--fontetitulo);
    font-size: 1.5em;
    margin-bottom: 10px;
}
main>section>p{
    font-family:var(--fontetexto) ;
    font-weight: 300;
    margin-bottom: 8px;
    text-indent: 20px;
}
div#container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
div#container>div{
    width: 200px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow:inset 1px 1px 17px 2px black;
    transition: 0.5s
}
div#container>div:hover{
    scale: 1.1;
    border: 3px solid var(--vermelhoo);
}
div#overwatch{
    background-image: url(../imagens/overwatch\ \(5\).jpg);
    background-position: left center;
}
div#lol{
    background-image: url(../imagens/masterduel.jpg);
}

div#masterduel{
    background-image: url(../imagens/lol.jpg);
}
